body {
  background-image: url("https://img.freepik.com/free-vector/watercolor-background_87374-69.jpg?w=2000&t=st=1660187987~exp=1660188587~hmac=d6dbe6c2e2b96a19243ee3f02f029ac61ed45f153edcd2d9a6552e3a6d64f1bd");
  margin: auto;
  width: 100%;
  max-width: 500px;
}

h1 {
  font-size: 5em;
  font-family: "Helvetica", "Arial", "Sans-Serif";
}

button {
  font-size: 1.5em;
  line-height: 1.4em;
  color: rgb(0, 0, 0);
  margin-bottom: 1em;
  background-color: rgb(124, 204, 234);
}

#gameboard {
  position: relative;
  margin: 0 auto 2em auto;
  width: 250px;
  height: 250px;
}

#gameboard div {
  position: absolute;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background: #274a5b;
  border: 1px solid rgb(204, 69, 69);
  width: 30px;
  height: 30px;
}

#myboard {
  position: relative;
  margin: 0 auto 2em auto;
  width: 250px;
  height: 250px;
}

#myboard div {
  position: absolute;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background: #274a5b;
  border: 1px solid rgb(204, 69, 69);
  width: 30px;
  height: 30px;
}

p {
  font-size: 20px;
}

#restart {
  position: fixed;
  left: 50px;
}
